body {
    background: #eee;
    text-align: center;
    font-family: arial, sans-serif;
}

#mainContainer {
    
}

#main {

}

#main, #chats {
    text-align: left;
    background: white;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#chats {
/*    overflow-y: scroll;*/
}

#main h1 {
    font-size: 35px;
}

#main h1 span {
    font-style:italic;
}


.chat {
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}


.friend {
    color: #fff !important;
    background-color: #0090da !important;
}

